.tops {
    margin-top: 20px;
    min-height: 100px;
}

.sloppy {
    padding-top: 20px;
    padding-left: 80px;
    padding-bottom: 45px;
}

.size1 {
    font-size: 75px;
}

.size2 {
    font-size: 20px;
    padding-left: 5px;
}

.body {
    // padding-left: 20px;
    min-height: 300px;
}

h5 {
    padding-top: 100px;
    text-align: center;
}

.high {
    padding-top: 6px;
}

.cat {
    max-height: 60px;
}